#creator {
    padding: 1rem;
    font-style:italic;
    color:rgb(110, 102, 102);
    font-size: 1.5rem;
    position: relative;
    left: 1000px;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .3s;
    position: relative;
    left: 1050px;
    top: -11px;
}
.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.button-width {
width: 88px;
}
